.clear {
	clear:both;
}

.container {
	height: 1000px;
	width: 600px;
	margin: 0 auto;
}

.red {
	background: #ff0000;
	height: 100px;
	margin-bottom: 10px;
}

.blue {
	background: #00bdf7;
	float:left;
	height: 500px;
	width: 200px;
}

.green {
	background: #00c448;
	float:left;
	height: 500px;
	width: 200px;

}

.yellow {
	background: #f6ff00;
	float:left;
	height: 500px;
	width: 200px;

}


.footer {
	background: red;
	margin-top: 10px;
	height: 100px;
}
 

