.clear {
	clear:both;
}

.container {
	height: 1000px;
	width: 900px;
	margin: 0 auto;
}

.red {
	background: #ff0000;
	height: 100px;
	margin-bottom: 10px;
}

.middle {
	background: #fe5000;
	float:left;
	height: 400px;
	width: 183px;
}
.purple {
	background: #8f75be;
	float:left;
	height: 400px;
	width: 183px;
}

.green {
	background: #00c448;
	float:left;
	height: 400px;
	width: 183px;

}

.multi-color {
	padding: 24px;

}

.bottom {
	background: #fa83bb;
	margin: 0 auto;
	height: 429px;
	width: 550px;
}

.right-col {
	background: #f6ff00;
	float: left;
	height: 900px;
	width: 300px;
}

.left-col {
	background: #00BDf7;
	width: 600px;
	height: 900px;
	float: left;

}

.footer {
	background: #ff0000;
	margin-top: 10px;
	height: 100px;
}
 

