.clear {
	clear:both;
}

.container {
	height: 1000px;
	width: 900px;
	margin: 0 auto;
}

.red {
	background:red;
	height: 50px;
	margin-bottom: 10px;
}

.blue {
	background:blue;
	float:left;
	height: 500px;
	width: 300px;
}

.green {
	background:green;
	float:left;
	height: 500px;
	width: 300px;

}

.yellow {
	background:yellow;
	float:left;
	height: 500px;
	width: 300px;

}


.footer {
	background: red;
	margin-top: 10px;
	height: 50px;
}
 

